<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Final :,,,c</title>
    <link rel="stylesheet" href="./Usuario.css">
</head>
<body>

    <header>
        <button class="add">Agregar</button>
    </header>

    <div class="Container">
        <table>
            <thead>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Edad</th>
                <th scope="col" colspan="2">Opciones</th>
            </thead>
            
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Carlos</td>
                    <td>Carlos@gmail.com</td>
                    <td>19</td>
                    <td><button class="edit">editar</button></td>
                    <td><button class="delete">eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="./Usuario.js"></script>
</body>
</html>